---
layout: default
---

<div class="post">
	<div class="post__back">
    	<a href="/">&lt;-- home</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
	<div class="disqus-comments">
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
		/* <![CDATA[ */
		var disqus_shortname = "{{ site.disqus_shortname }}";
		var disqus_identifier = "{{ site.url }}_{{ page.title }}";
		var disqus_title = "{{ page.title }}";
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	    /* ]]> */
	    </script>
	</div>
</div>
